

  <!-- Bootstrap Table -->
  <div class="container mt-5">
    <h2 class="text-center mb-4">My Todos</h2>
      
  <div class="alert alert-success" *ngIf='message && visible' >{{message}} </div>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Is Completed?</th>
          <th scope="col">Target Date</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{todo.id}}</td>
          <td>{{todo.description}}</td>
          <td>{{todo.done ? 'Yes' : 'No'}}</td>
          <td>{{todo.targetDate | date}}</td>
          <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
          <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div><button class="btn btn-primary" (click)="addTodo()" type="button">ADD</button></div>
  </div>


